<!doctype html>
<html lang="en">
	<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='bootstrap-5.1.1-dist/bootstrap-5.1.1-dist/css/bootstrap.min.css')}}" rel="stylesheet">

	<title>Recovery | Utopia certificate generation portal</title>

	</head>
	<body style="background-image: url({{ url_for('static', filename='images/bg_purple.png') }}); padding: 5px; background-position: left; background-attachment: fixed;">

        <div class="container shadow rounded-top bg-body mt-4">
         
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"><img class="rounded"  height="40" src="{{ url_for('static', filename='images/UU.png') }}"> | Ministry of Certificate Signing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-right" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('how_it_works') }}">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gen_opt') }}">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  </div>


	<div class="container rounded-bottom shadow bg-body">
		<main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='illustrations/User interface_Monochromatic.png') }}" alt="" width="144">
      <h2 class="mx-5">Generate Utopia Recovery certificate</h2>
      <p class="lead my-0">Please fill out the form to generate your recovery certificate.</p>
      <p class="lead my-0">Please make sure your data is correct, because we don't check and will sign any certificate for you :)</p>
    </div>

    <div class="row justify-content-md-center">
      
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Holder info</h4>
        <form action="" method="POST">
	{{ form.csrf_token }}
          <div class="row g-3">
            <div class="col-sm-12">
             <label for="{{ form.fname_print.id }}" class="form-label">{{ form.fname_print.label }}</label>
              {{ form.fname_print(class_='form-control')|safe }}
            </div>

            <div class="col-sm-6">
              <label for="{{ form.gname_print.id }}" class="form-label">{{ form.gname_print.label }}</label>
              {{ form.gname_print(class_='form-control')|safe }}
            </div>

            <div class="col-sm-6">
	     <label for="{{ form.birth.id }}" class="form-label">{{ form.birth.label }}</label>
              {{ form.birth(class_='form-control')|safe }}
            </div>
	{{ form.cert_type() }}


          </div>


          <hr class="my-4">

          <h4 class="mb-3">Health info</h4>

          <div class="row gy-3">
            <div class="col-lg-4">
              <label for="{{ form.disease_curr.id }}" class="form-label">{{ form.disease_curr.label }}</label>
              {{ form.disease_curr(class_='form-select') }}
		
            </div>

            <div class="col-sm-4">
	     <label for="{{ form.dt_first_pos.id }}" class="form-label">{{ form.dt_first_pos.label }}</label>
              {{ form.dt_first_pos(class_='form-control')|safe }}
            </div>

            <div class="col-md-4">
              <label for="{{ form.emitent.id }}" class="form-label">{{ form.emitent.label }}</label>
              {{ form.emitent(class_='form-control', placeholder=form.emitent.default)|safe }}
            </div>
          </div>
          

          <hr class="my-4">

          <div class="form-check">
            {{ form.joke1(class_='form-check-input') }}
            <label class="form-check-label" for="{{ form.joke1.id }}">{{ form.joke1.label }}</label>
          </div>

          <div class="form-check">
            {{ form.joke2(class_='form-check-input') }}
            <label class="form-check-label" for="{{ form.joke2.id }}">{{ form.joke2.label }}</label>
          </div>
	{% if err or form.errors %}
          <hr class="my-4">
	<div class="row my-3">
            <div class="col-lg-12">
		<p class="text-danger">Please check that you have correctly filled the form.</p>
	    </div>
        </div>
	{% endif %}

          <hr class="my-4">
	  <div class="row my-5 g-5">
            <div class="col-lg-4">
              <a href="{{ url_for('gen_opt') }}"><button class="shadow-sm w-100 btn btn-light btn-lg" type="button">Back</button></a>
            </div>
            <div class="col-lg-8">
              <button style="background-color: #6f42c1; border:none;" class="shadow-sm w-100 btn btn-primary btn-lg" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Generate my certificate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>

<div class="modal shadow fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading</h5>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='illustrations/loading_final.gif') }}" class="w-100"/>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #6f42c1; border:none;" class="btn btn-primary disabled">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <footer class="my-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021–2021 Utopian Union</p>
  </footer>
</div>


	<script src="{{ url_for('static', filename='bootstrap-5.1.1-dist/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js')}}"></script>
	</body>
</html>